<%- include('../partials/before-header.ejs') %>
<%- include('../partials/header.ejs', { brand: 'My very Cool Webshop' })  %>
<%- include('../partials/navigation.ejs') %>
<main>
    <article>
        <h2>Contact us</h2>
        <form>
            <textarea name="message" id="" cols="30" rows="10">Write us something... </textarea>
            <button type="submit">Submit</button>
        </form>

    </article>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>