<%- include('../partials/before-header')  %>
<%- include('../partials/header.ejs', { brand: 'My very Cool Webshop' })  %>
<%- include('../partials/navigation') %>

<main>
    <article>
        <h2>Welcome to my cool webshop</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nobis! Accusamus, ex aspernatur
            voluptatem earum id sed sit perferendis maxime, iste sint tenetur deleniti porro eius voluptas quod,
            dolorum illo!</p>
        <img src="assets/img/paaskeaeg.jpg" alt="">
    </article>
</main>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-footer.ejs') %>